/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*
*= require bootstrap
*= require userforms
*= require_self
*/
.dropdown-menu {
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}

.expand {
    position:relative !important;
    min-height:52px !important;
    width: auto !important;
}
.btn-dark {
    color: rgba(255,255,255,255) !important;
}

*
{
    margin:  0;
    padding: 0;
}

