.spinner {
    opacity: 0;
    width: 0;
    display: inline-block;
    -webkit-animation: spin 1000ms infinite linear;
    -moz-animation:spin 1000ms infinite linear;
    -o-animation:spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;


}



.has-spinner.active .spinner{
    opacity: 1;
    width: auto;

}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(359deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}