
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.dropdown-menu {
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}
