<%--
  Created by IntelliJ IDEA.
  User: orchie
  Date: 11/24/14
  Time: 11:43 PM
--%>
<html>
<head>
    <meta name="layout" content="main"/>


</head>
    <body  data-page="transitmap">


        <div id="map" style="width: 100%; height: 100%; position: absolute; ">
            <div style="width: 100%; height: 100%; position: absolute;" id="map-canvas"></div>
        </div>
        <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgqNqoEhjBmZlCGpTcq-7tf8jjEpiIzLU">
        </script>
        <asset:javascript src="transitmap.js"/>

    </body>
</html>
